@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
  

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
}

body {
 
  text-decoration: none;
  color: #000;
  font-family: var(--font-family);
}

.product a {
  text-decoration: none;
  color: #000;
}

.imgItem1 img {

  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.imgItem2 img {

  overflow: hidden;
  object-fit: cover;
  object-position: bottom;
  
}
.numOfCart{ 
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: auto;
  top: -8px;
  left: 23px;
  right: -5px;
  bottom: 100;
}

.loading{
  z-index: 9999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}
.kolhaga{
  margin-top: 100px;
  

}